USE [master]
GO
/****** Object:  Database [CommunityMedicineSystemDB]    Script Date: 2/6/2015 5:33:03 PM ******/
CREATE DATABASE [CommunityMedicineSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommunityMedicineSystemDB', FILENAME = N'd:\Installed Softwares\Microsoft SQL Server 2012\MSSQL11.SQLEXPRESS\MSSQL\DATA\CommunityMedicineSystemDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CommunityMedicineSystemDB_log', FILENAME = N'd:\Installed Softwares\Microsoft SQL Server 2012\MSSQL11.SQLEXPRESS\MSSQL\DATA\CommunityMedicineSystemDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommunityMedicineSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommunityMedicineSystemDB]
GO
/****** Object:  Table [dbo].[tbl_center_login]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_center_login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[center_id] [int] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_centers]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_centers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[district_id] [int] NOT NULL,
	[thana_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_diseases]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_diseases](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](300) NOT NULL,
	[treatement_procedure] [varchar](300) NOT NULL,
	[prefered_medicine] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_districts]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_districts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[population] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_doctors]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[degree] [varchar](100) NOT NULL,
	[specialization] [varchar](100) NOT NULL,
	[center_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_medicines]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_medicines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[power] [varchar](20) NULL,
	[type] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_medicines_of_centers]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_medicines_of_centers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[center_id] [int] NOT NULL,
	[medicine_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_patients]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[voter_id] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_service_taken]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_service_taken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_thanas]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_thanas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[district_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_treatments]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_treatments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[observation] [varchar](300) NULL,
	[date] [date] NOT NULL,
	[doctor_id] [int] NULL,
	[disease_id] [int] NULL,
	[medicine_id] [int] NULL,
	[dose] [varchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[note] [varchar](200) NULL,
	[dose_rules] [varchar](20) NOT NULL,
	[center_id] [int] NULL,
	[service_taken_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[view_district_wise_patients]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_district_wise_patients]
AS
SELECT        dbo.tbl_districts.name AS district_name, dbo.tbl_patients.voter_id, dbo.tbl_districts.population, dbo.tbl_diseases.name AS disease_name, dbo.tbl_treatments.date
FROM            dbo.tbl_centers INNER JOIN
                         dbo.tbl_districts ON dbo.tbl_centers.district_id = dbo.tbl_districts.id INNER JOIN
                         dbo.tbl_treatments ON dbo.tbl_centers.id = dbo.tbl_treatments.center_id INNER JOIN
                         dbo.tbl_diseases ON dbo.tbl_treatments.disease_id = dbo.tbl_diseases.id INNER JOIN
                         dbo.tbl_service_taken ON dbo.tbl_treatments.service_taken_id = dbo.tbl_service_taken.id INNER JOIN
                         dbo.tbl_patients ON dbo.tbl_service_taken.patient_id = dbo.tbl_patients.id
GROUP BY dbo.tbl_districts.name, dbo.tbl_patients.voter_id, dbo.tbl_districts.population, dbo.tbl_diseases.name, dbo.tbl_treatments.date

GO
/****** Object:  View [dbo].[view_patient_information]    Script Date: 2/6/2015 5:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_patient_information]
AS
SELECT        dbo.tbl_patients.voter_id, dbo.tbl_service_taken.id AS service_id, dbo.tbl_medicines.name AS medicine_name, dbo.tbl_medicines.power, dbo.tbl_medicines.type, dbo.tbl_treatments.observation, 
                         dbo.tbl_treatments.date, dbo.tbl_treatments.dose, dbo.tbl_treatments.quantity, dbo.tbl_treatments.note, dbo.tbl_treatments.dose_rules, dbo.tbl_doctors.name AS doctor_name, 
                         dbo.tbl_diseases.name AS disease_name, dbo.tbl_centers.name AS center_name
FROM            dbo.tbl_patients INNER JOIN
                         dbo.tbl_service_taken ON dbo.tbl_patients.id = dbo.tbl_service_taken.patient_id INNER JOIN
                         dbo.tbl_treatments ON dbo.tbl_service_taken.id = dbo.tbl_treatments.service_taken_id INNER JOIN
                         dbo.tbl_diseases ON dbo.tbl_treatments.disease_id = dbo.tbl_diseases.id INNER JOIN
                         dbo.tbl_doctors ON dbo.tbl_treatments.doctor_id = dbo.tbl_doctors.id INNER JOIN
                         dbo.tbl_medicines ON dbo.tbl_treatments.medicine_id = dbo.tbl_medicines.id INNER JOIN
                         dbo.tbl_centers ON dbo.tbl_treatments.center_id = dbo.tbl_centers.id

GO
SET IDENTITY_INSERT [dbo].[tbl_center_login] ON 

INSERT [dbo].[tbl_center_login] ([id], [center_id], [code], [password]) VALUES (3, 6, N'kGrq0B', N'kGrq0BKJ')
INSERT [dbo].[tbl_center_login] ([id], [center_id], [code], [password]) VALUES (7, 9, N'1mZmZ0', N'YijGDJe6')
INSERT [dbo].[tbl_center_login] ([id], [center_id], [code], [password]) VALUES (8, 10, N'RWLOM4', N'3XOqkdAa')
SET IDENTITY_INSERT [dbo].[tbl_center_login] OFF
SET IDENTITY_INSERT [dbo].[tbl_centers] ON 

INSERT [dbo].[tbl_centers] ([id], [name], [district_id], [thana_id]) VALUES (1, N'Bagerhat Medicine Center', 35, 275)
INSERT [dbo].[tbl_centers] ([id], [name], [district_id], [thana_id]) VALUES (2, N'Harinakundu Medical Center', 38, 296)
INSERT [dbo].[tbl_centers] ([id], [name], [district_id], [thana_id]) VALUES (3, N'Dhamrai Medical Center', 18, 149)
SET IDENTITY_INSERT [dbo].[tbl_centers] OFF
SET IDENTITY_INSERT [dbo].[tbl_diseases] ON 

INSERT [dbo].[tbl_diseases] ([id], [name], [description], [treatement_procedure], [prefered_medicine]) VALUES (1, N'Kolera', N'ddfgh', N'yfghjrddty', N'fgehduhe')
INSERT [dbo].[tbl_diseases] ([id], [name], [description], [treatement_procedure], [prefered_medicine]) VALUES (2, N'arew', N'dfghjk', N'fghbjnk', N'jjjjjj')
INSERT [dbo].[tbl_diseases] ([id], [name], [description], [treatement_procedure], [prefered_medicine]) VALUES (3, N'Fever', N'Headech', N'Tablet eating', N'Napa,paracitamol')
SET IDENTITY_INSERT [dbo].[tbl_diseases] OFF
SET IDENTITY_INSERT [dbo].[tbl_districts] ON 

INSERT [dbo].[tbl_districts] ([id], [name], [population]) VALUES (1, N'Barguna', 892781)
INSERT [dbo].[tbl_districts] ([id], [name], [population]) VALUES (2, N'Barisal', 2324310)
INSERT [dbo].[tbl_districts] ([id], [name], [population]) VALUES (3, N'Bhola', 1776795)
SET IDENTITY_INSERT [dbo].[tbl_districts] OFF
SET IDENTITY_INSERT [dbo].[tbl_doctors] ON 

INSERT [dbo].[tbl_doctors] ([id], [name], [degree], [specialization], [center_id]) VALUES (1, N'Abdus Salam', N'MBBS', N'Dentist', 8)
INSERT [dbo].[tbl_doctors] ([id], [name], [degree], [specialization], [center_id]) VALUES (3, N'Abdus Salam', N'MBBS', N'Dentist', 8)
INSERT [dbo].[tbl_doctors] ([id], [name], [degree], [specialization], [center_id]) VALUES (4, N'Dr. Mukit ul Hasan', N'MBBS', N'Dentist', 1)
SET IDENTITY_INSERT [dbo].[tbl_doctors] OFF
SET IDENTITY_INSERT [dbo].[tbl_medicines] ON 

INSERT [dbo].[tbl_medicines] ([id], [name], [power], [type]) VALUES (1, N'Cirap', N'20', N'mg')
INSERT [dbo].[tbl_medicines] ([id], [name], [power], [type]) VALUES (2, N'Tablet', N'200', N'mg')
SET IDENTITY_INSERT [dbo].[tbl_medicines] OFF
SET IDENTITY_INSERT [dbo].[tbl_medicines_of_centers] ON 

INSERT [dbo].[tbl_medicines_of_centers] ([id], [center_id], [medicine_id], [quantity]) VALUES (1, 1, 1, 55)
INSERT [dbo].[tbl_medicines_of_centers] ([id], [center_id], [medicine_id], [quantity]) VALUES (2, 1, 2, 80)
INSERT [dbo].[tbl_medicines_of_centers] ([id], [center_id], [medicine_id], [quantity]) VALUES (3, 14, 1, 9900)
SET IDENTITY_INSERT [dbo].[tbl_medicines_of_centers] OFF
SET IDENTITY_INSERT [dbo].[tbl_patients] ON 

INSERT [dbo].[tbl_patients] ([id], [voter_id]) VALUES (4, N'9509623450913')
INSERT [dbo].[tbl_patients] ([id], [voter_id]) VALUES (5, N'9509623450914')
INSERT [dbo].[tbl_patients] ([id], [voter_id]) VALUES (3, N'9509623450915')
SET IDENTITY_INSERT [dbo].[tbl_patients] OFF
SET IDENTITY_INSERT [dbo].[tbl_service_taken] ON 

INSERT [dbo].[tbl_service_taken] ([id], [patient_id]) VALUES (6, 3)
INSERT [dbo].[tbl_service_taken] ([id], [patient_id]) VALUES (7, 3)
INSERT [dbo].[tbl_service_taken] ([id], [patient_id]) VALUES (8, 3)
SET IDENTITY_INSERT [dbo].[tbl_service_taken] OFF
SET IDENTITY_INSERT [dbo].[tbl_thanas] ON 

INSERT [dbo].[tbl_thanas] ([id], [name], [district_id]) VALUES (1, N'Amtali', 1)
INSERT [dbo].[tbl_thanas] ([id], [name], [district_id]) VALUES (2, N'Bamna', 1)
INSERT [dbo].[tbl_thanas] ([id], [name], [district_id]) VALUES (3, N'Barguna Sadar', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_thanas] OFF
SET IDENTITY_INSERT [dbo].[tbl_treatments] ON 

INSERT [dbo].[tbl_treatments] ([id], [observation], [date], [doctor_id], [disease_id], [medicine_id], [dose], [quantity], [note], [dose_rules], [center_id], [service_taken_id]) VALUES (7, N'Fever', CAST(0x8F390B00 AS Date), 4, 1, 1, N'1+0+0', 10, N'undefined', N'After Meal', 1, 6)
INSERT [dbo].[tbl_treatments] ([id], [observation], [date], [doctor_id], [disease_id], [medicine_id], [dose], [quantity], [note], [dose_rules], [center_id], [service_taken_id]) VALUES (8, N'Fever', CAST(0x8F390B00 AS Date), 4, 3, 2, N'1+0+0', 1, N'undefined', N'After Meal', 1, 6)
INSERT [dbo].[tbl_treatments] ([id], [observation], [date], [doctor_id], [disease_id], [medicine_id], [dose], [quantity], [note], [dose_rules], [center_id], [service_taken_id]) VALUES (9, N'Fever', CAST(0x8A390B00 AS Date), 4, 3, 1, N'1+1+0', 10, N'undefined', N'Before Meal', 1, 7)
SET IDENTITY_INSERT [dbo].[tbl_treatments] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbl_dise__72E12F1B704A9EBE]    Script Date: 2/6/2015 5:33:03 PM ******/
ALTER TABLE [dbo].[tbl_diseases] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbl_dist__72E12F1B86352C66]    Script Date: 2/6/2015 5:33:03 PM ******/
ALTER TABLE [dbo].[tbl_districts] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbl_pati__B7950312D602574E]    Script Date: 2/6/2015 5:33:03 PM ******/
ALTER TABLE [dbo].[tbl_patients] ADD UNIQUE NONCLUSTERED 
(
	[voter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_center_login]  WITH CHECK ADD FOREIGN KEY([center_id])
REFERENCES [dbo].[tbl_centers] ([id])
GO
ALTER TABLE [dbo].[tbl_centers]  WITH CHECK ADD FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_districts] ([id])
GO
ALTER TABLE [dbo].[tbl_centers]  WITH CHECK ADD FOREIGN KEY([thana_id])
REFERENCES [dbo].[tbl_thanas] ([id])
GO
ALTER TABLE [dbo].[tbl_doctors]  WITH CHECK ADD FOREIGN KEY([center_id])
REFERENCES [dbo].[tbl_centers] ([id])
GO
ALTER TABLE [dbo].[tbl_medicines_of_centers]  WITH CHECK ADD FOREIGN KEY([center_id])
REFERENCES [dbo].[tbl_centers] ([id])
GO
ALTER TABLE [dbo].[tbl_medicines_of_centers]  WITH CHECK ADD FOREIGN KEY([medicine_id])
REFERENCES [dbo].[tbl_medicines] ([id])
GO
ALTER TABLE [dbo].[tbl_service_taken]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[tbl_patients] ([id])
GO
ALTER TABLE [dbo].[tbl_thanas]  WITH CHECK ADD FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_districts] ([id])
GO
ALTER TABLE [dbo].[tbl_treatments]  WITH CHECK ADD FOREIGN KEY([center_id])
REFERENCES [dbo].[tbl_centers] ([id])
GO
ALTER TABLE [dbo].[tbl_treatments]  WITH CHECK ADD FOREIGN KEY([disease_id])
REFERENCES [dbo].[tbl_diseases] ([id])
GO
ALTER TABLE [dbo].[tbl_treatments]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[tbl_doctors] ([id])
GO
ALTER TABLE [dbo].[tbl_treatments]  WITH CHECK ADD FOREIGN KEY([medicine_id])
REFERENCES [dbo].[tbl_medicines] ([id])
GO
ALTER TABLE [dbo].[tbl_treatments]  WITH CHECK ADD FOREIGN KEY([service_taken_id])
REFERENCES [dbo].[tbl_service_taken] ([id])
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_centers"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_districts"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 119
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_treatments"
            Begin Extent = 
               Top = 6
               Left = 486
               Bottom = 136
               Right = 676
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_diseases"
            Begin Extent = 
               Top = 6
               Left = 714
               Bottom = 136
               Right = 936
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_service_taken"
            Begin Extent = 
               Top = 120
               Left = 262
               Bottom = 216
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_patients"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 234
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
     ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_district_wise_patients'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'    Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_district_wise_patients'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_district_wise_patients'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[56] 4[34] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -41
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_patients"
            Begin Extent = 
               Top = 47
               Left = 38
               Bottom = 160
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_service_taken"
            Begin Extent = 
               Top = 47
               Left = 246
               Bottom = 143
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_treatments"
            Begin Extent = 
               Top = 44
               Left = 542
               Bottom = 377
               Right = 716
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_diseases"
            Begin Extent = 
               Top = 176
               Left = 775
               Bottom = 306
               Right = 981
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_doctors"
            Begin Extent = 
               Top = 29
               Left = 783
               Bottom = 176
               Right = 953
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_medicines"
            Begin Extent = 
               Top = 156
               Left = 265
               Bottom = 286
               Right = 435
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_centers"
            Begin Extent = 
               Top = 266
               Left = 1060
               Bottom = 396
               Right = 1230
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_patient_information'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'          End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_patient_information'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_patient_information'
GO
USE [master]
GO
